.thumbnail {
  width: 175px;
  float: left;
}

.thumbnailImage {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  cursor: pointer;
}

.thumbnailName {
  text-align: center;
}

.header {
  height: 150px;
}

.headerSearch {
  float: right;
  width: 300px;
  padding-top: 50px;
  padding-right: 60px;
}

.headerTitle {
  float: left;
  width: 300px;
  padding-top: 15px;
  padding-left: 60px;
  cursor: pointer;
}

.genreList {
  float: left;
  clear: both;
}

.detailImage {
  width: 40%;
  padding-top: 100px;
  float: left;
}

.detailText {
  width: 50%;
  float: right;
  white-space: pre-wrap;
  padding-right: 50px;
  padding-top: 100px;
}